
@media(min-width:576px){
 
/*     portfolio cards  
    
  .card-columns{
    column-count: 2;    
}  */
    
}

@media(min-width:768px){
 
    
    
}




@media(min-width:992px){
   
    /* icon  */
    
  .icon-margin{
    margin-left: 20px;
}  
    
}

@media(min-width:1200px){
   
    /* icon */
    
  .icon-margin{
    margin-left: 25px;
}  
  
  .am3{
    animation-duration: 3s;
}


}